.current__article {
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.current__text {
  font-size: 44px;
  padding: 160px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
