@import './mixins.scss';
.current {
  @include fadein;
  display: flex;
  justify-content: center;
  align-items: center;
  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #23232399;
    margin-top: 100px;
  }
  &__text {
    font-size: 36px;
    &--small {
      font-size: 32px;
      font-weight: 100;
    }
  }

  &__icon {
    border: 2px solid grey;
    padding: 10px;
    color:grey;
    border-radius: 5px;
  }

}
