@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Shrikhand');

body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    30deg,
    #d88ec8,
    #d88ec8 60px,
    #a3a3a3 60px,
    #a3a3a3 120px
  );
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
